.chatPage {
  width: 100vw;
  height: 100vh;
}

.chatBox {
  height: 80%;
  box-sizing: border-box;
  background-color: #c1f4c5;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
